streamlit==1.50.0
numpy==1.26.4
pandas==2.2.2
pillow==11.0.0
pdf2image==1.17.0
PyPDF2==3.0.1
openpyxl==3.1.5

# Gemini SDK
google-generativeai==0.8.3

# gRPC / protobuf 安定組み合わせ
grpcio==1.62.2
grpcio-status==1.62.2
protobuf>=4.25,<4.28

# その他（任意）
google-api-core==2.19.1

# パスワード機能
# streamlit-authenticator
# bcrypt
# pyyaml

# streamlit-authenticator==0.4.2
# extra-streamlit-components==0.1.81

#ログ転記用Google Cloud storage
 time
 logging
 logging.handlers
 gcsfs
 st-files-connection